# SPDX-FileCopyrightText: 2010 - 2024 the Friendica project
#
# SPDX-License-Identifier: CC0-1.0

parameters:
	ignoreErrors:
		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Module/Acctlink.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Module/Admin/DBSync.php

		-
			message: '#^Strict comparison using \=\=\= between int\<1, max\> and 0 will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Module/Admin/Roles.php

		-
			message: '#^Instanceof between Friendica\\Core\\Storage\\Capability\\ICanWriteToStorage and Friendica\\Core\\Storage\\Capability\\ICanWriteToStorage will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: src/Module/Admin/Storage.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Module/Api/Friendica/Photo/Update.php

		-
			message: '#^Method Friendica\\Module\\Api\\Mastodon\\Search\:\:searchStatuses\(\) never returns Friendica\\Object\\Api\\Mastodon\\Status so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Module/Api/Mastodon/Search.php

		-
			message: '#^Offset 1 on array\{non\-falsy\-string, non\-empty\-string\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Module/Api/Twitter/Search/Tweets.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Module/Calendar/Event/Show.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: src/Module/Calendar/Export.php

		-
			message: '#^Loose comparison using \=\= between int\<min, 0\>\|int\<2, max\> and 1 will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 1
			path: src/Module/Circle.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: src/Module/Circle.php

		-
			message: '#^Property Friendica\\Module\\Conversation\\Timeline\:\:\$selectedTab \(string\) on left side of \?\?\= is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Module/Conversation/Network.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: src/Module/Debug/ActivityPubConversion.php

		-
			message: '#^Method Friendica\\Module\\Filer\\RemoveTag\:\:removeTag\(\) never assigns null to &\$term so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: src/Module/Filer/RemoveTag.php

		-
			message: '#^Method Friendica\\Module\\Filer\\RemoveTag\:\:removeTag\(\) never assigns null to &\$type so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: src/Module/Filer/RemoveTag.php

		-
			message: '#^Method Friendica\\Module\\Filer\\RemoveTag\:\:removeTag\(\) never assigns string to &\$type so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: src/Module/Filer/RemoveTag.php

		-
			message: '#^Property Friendica\\Module\\Media\\Attachment\\Upload\:\:\$page is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Module/Media/Attachment/Upload.php

		-
			message: '#^Property Friendica\\Module\\Media\\Photo\\Upload\:\:\$page is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Module/Media/Photo/Upload.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 2
			path: src/Module/Moderation/Users/Active.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 2
			path: src/Module/Moderation/Users/Blocked.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 3
			path: src/Module/Moderation/Users/Index.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 2
			path: src/Module/Moderation/Users/Pending.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: src/Module/Moderation/Users/Pending.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Module/Notifications/Notification.php

		-
			message: '#^Property Friendica\\Module\\Notifications\\Ping\:\:\$appHelper is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Module/Notifications/Ping.php

		-
			message: '#^Strict comparison using \=\=\= between '''' and ''none'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Module/Post/Edit.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 1
			path: src/Module/Post/Tag/Remove.php

		-
			message: '#^Call to Friendica\\BaseModule\:\:content\(\) on a separate line has no effect\.$#'
			identifier: staticMethod.resultUnused
			count: 1
			path: src/Module/Profile/Photos.php

		-
			message: '#^While loop condition is always true\.$#'
			identifier: while.alwaysTrue
			count: 1
			path: src/Protocol/ActivityPub/Firehose.php

		-
			message: '#^Strict comparison using \=\=\= between array\<mixed, mixed\> and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Util/JsonLD.php
