# SPDX-FileCopyrightText: 2010 - 2024 the Friendica project
#
# SPDX-License-Identifier: CC0-1.0

parameters:
	ignoreErrors:
		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 1
			path: src/Core/Config/Util/ConfigFileManager.php

		-
			message: '#^Offset ''system'' on array\{\}\|array\{database\: non\-empty\-array\{hostname\?\: mixed, username\?\: mixed, password\?\: mixed, database\?\: mixed\}\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: src/Core/Config/Util/ConfigFileManager.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: src/Core/Config/Util/ConfigFileManager.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 14
			path: src/Core/Hooks/HookEventBridge.php

		-
			message: '#^Static property Friendica\\Core\\Hooks\\HookEventBridge\:\:\$mockedCallHook \(Closure\|null\) is never assigned Closure so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Core/Hooks/HookEventBridge.php

		-
			message: '#^Negated boolean expression is always true\.$#'
			identifier: booleanNot.alwaysTrue
			count: 1
			path: src/Core/Installer.php

		-
			message: '#^Property Friendica\\Core\\Installer\:\:\$phppath \(string\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: src/Core/Installer.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 2
			path: src/Core/Logger/Factory/SyslogLoggerFactory.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Core/Logger/Handler/ErrorHandler.php

		-
			message: '#^Property Friendica\\Core\\Logger\\Handler\\ErrorHandler\:\:\$reservedMemory is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Core/Logger/Handler/ErrorHandler.php

		-
			message: '#^Strict comparison using \=\=\= between '''' and ''trigger_error'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Core/Logger/Handler/ErrorHandler.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 3
			path: src/Core/Logger/LoggerManager.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 2
			path: src/Core/Logger/Type/SyslogLogger.php

		-
			message: '#^Call to function is_int\(\) with int will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 4
			path: src/Core/PConfig/ValueObject/Cache.php

		-
			message: '#^Offset ''function'' on array\{function\: string, line\?\: int, file\: string, class\?\: class\-string, type\?\: ''\-\>''\|''\:\:'', args\?\: list\<mixed\>, object\?\: object\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Core/System.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Core/Update.php

		-
			message: '#^Static property Friendica\\Core\\Worker\:\:\$process is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Core/Worker.php

		-
			message: '#^Static method Friendica\\Core\\Worker\\Cron\:\:addIntros\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Core/Worker/Cron.php

		-
			message: '#^Call to function is_array\(\) with non\-empty\-array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Database/DBStructure.php

		-
			message: '#^Call to function is_null\(\) with array will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Database/DBStructure.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Database/DBStructure.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Method Friendica\\Database\\Database\:\:logIndex\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Method Friendica\\Database\\Database\:\:sanitizeIdentifier\(\) is unused\.$#'
			identifier: method.unused
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Property Friendica\\Database\\Database\:\:\$relation is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Database/Database.php

		-
			message: '#^Property Friendica\\Moderation\\Entity\\Report\:\:\$reporterUid \(int\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Factory/Api/Mastodon/Report.php

		-
			message: '#^Loose comparison using \!\= between 0 and 0 will always evaluate to false\.$#'
			identifier: notEqual.alwaysFalse
			count: 1
			path: src/Factory/Api/Mastodon/ScheduledStatus.php

		-
			message: '#^Property Friendica\\Factory\\Api\\Twitter\\Media\:\:\$baseUrl is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Factory/Api/Twitter/Media.php

		-
			message: '#^Property Friendica\\Factory\\Api\\Twitter\\Mention\:\:\$baseUrl is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Factory/Api/Twitter/Mention.php

		-
			message: '#^Property Friendica\\Factory\\Api\\Twitter\\Status\:\:\$dba is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Factory/Api/Twitter/Status.php

		-
			message: '#^Call to function is_array\(\) with array will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Model/Circle.php

		-
			message: '#^Dead catch \- InvalidArgumentException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 4
			path: src/Model/Contact.php

		-
			message: '#^Call to function array_merge\(\) on a separate line has no effect\.$#'
			identifier: function.resultUnused
			count: 1
			path: src/Model/Contact/Introduction.php

		-
			message: '#^Offset ''platform'' on array\{detection\-method\: int, register_policy\: 0\|2, platform\: string, site_name\?\: mixed, info\?\: mixed\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Model/GServer.php

		-
			message: '#^Call to function is_int\(\) with int\<min, \-1\>\|int\<1, max\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Model/Item.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Model/Item.php

		-
			message: '#^Offset ''uri\-id'' on array\{\} in empty\(\) does not exist\.$#'
			identifier: empty.offset
			count: 1
			path: src/Model/Item.php

		-
			message: '#^Property Friendica\\Content\\Post\\Entity\\PostMedia\:\:\$url \(Psr\\Http\\Message\\UriInterface\) in isset\(\) is not nullable\.$#'
			identifier: isset.property
			count: 1
			path: src/Model/Item.php

		-
			message: '#^Strict comparison using \=\=\= between string and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Model/Item.php

		-
			message: '#^Call to function is_numeric\(\) with int will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Model/Photo.php

		-
			message: '#^Method Friendica\\Model\\Photo\:\:fitImageSize\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Model/Photo.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Model/Profile.php

		-
			message: '#^Negated boolean expression is always false\.$#'
			identifier: booleanNot.alwaysFalse
			count: 1
			path: src/Model/Profile.php

		-
			message: '#^Property Friendica\\Content\\Conversation\\Entity\\Timeline\:\:\$languages \(array\) on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Model/User.php

		-
			message: '#^Right side of && is always true\.$#'
			identifier: booleanAnd.rightAlwaysTrue
			count: 1
			path: src/Model/User.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Module/Acctlink.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Module/Admin/DBSync.php

		-
			message: '#^Strict comparison using \=\=\= between int\<1, max\> and 0 will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Module/Admin/Roles.php

		-
			message: '#^Instanceof between Friendica\\Core\\Storage\\Capability\\ICanWriteToStorage and Friendica\\Core\\Storage\\Capability\\ICanWriteToStorage will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 2
			path: src/Module/Admin/Storage.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Module/Api/Friendica/Photo/Update.php

		-
			message: '#^Method Friendica\\Module\\Api\\Mastodon\\Search\:\:searchStatuses\(\) never returns Friendica\\Object\\Api\\Mastodon\\Status so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Module/Api/Mastodon/Search.php

		-
			message: '#^Offset 1 on array\{non\-falsy\-string, non\-empty\-string\} in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.offset
			count: 1
			path: src/Module/Api/Twitter/Search/Tweets.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 1
			path: src/Module/Calendar/Event/Show.php

		-
			message: '#^If condition is always true\.$#'
			identifier: if.alwaysTrue
			count: 1
			path: src/Module/Calendar/Export.php

		-
			message: '#^Loose comparison using \=\= between int\<min, 0\>\|int\<2, max\> and 1 will always evaluate to false\.$#'
			identifier: equal.alwaysFalse
			count: 1
			path: src/Module/Circle.php

		-
			message: '#^Result of && is always false\.$#'
			identifier: booleanAnd.alwaysFalse
			count: 1
			path: src/Module/Circle.php

		-
			message: '#^Dead catch \- InvalidArgumentException is never thrown in the try block\.$#'
			identifier: catch.neverThrown
			count: 1
			path: src/Module/Contact.php

		-
			message: '#^Property Friendica\\Module\\Conversation\\Timeline\:\:\$selectedTab \(string\) on left side of \?\?\= is not nullable\.$#'
			identifier: nullCoalesce.property
			count: 1
			path: src/Module/Conversation/Network.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: src/Module/Debug/ActivityPubConversion.php

		-
			message: '#^Method Friendica\\Module\\Filer\\RemoveTag\:\:removeTag\(\) never assigns null to &\$term so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: src/Module/Filer/RemoveTag.php

		-
			message: '#^Method Friendica\\Module\\Filer\\RemoveTag\:\:removeTag\(\) never assigns null to &\$type so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: src/Module/Filer/RemoveTag.php

		-
			message: '#^Method Friendica\\Module\\Filer\\RemoveTag\:\:removeTag\(\) never assigns string to &\$type so it can be removed from the by\-ref type\.$#'
			identifier: parameterByRef.unusedType
			count: 1
			path: src/Module/Filer/RemoveTag.php

		-
			message: '#^Property Friendica\\Module\\Media\\Attachment\\Upload\:\:\$page is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Module/Media/Attachment/Upload.php

		-
			message: '#^Property Friendica\\Module\\Media\\Photo\\Upload\:\:\$page is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Module/Media/Photo/Upload.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 2
			path: src/Module/Moderation/Users/Active.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 2
			path: src/Module/Moderation/Users/Blocked.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 3
			path: src/Module/Moderation/Users/Index.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 2
			path: src/Module/Moderation/Users/Pending.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: src/Module/Moderation/Users/Pending.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Module/Notifications/Notification.php

		-
			message: '#^Property Friendica\\Module\\Notifications\\Ping\:\:\$appHelper is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Module/Notifications/Ping.php

		-
			message: '#^Strict comparison using \=\=\= between '''' and ''none'' will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Module/Post/Edit.php

		-
			message: '#^Empty array passed to foreach\.$#'
			identifier: foreach.emptyArray
			count: 1
			path: src/Module/Post/Tag/Remove.php

		-
			message: '#^Call to Friendica\\BaseModule\:\:content\(\) on a separate line has no effect\.$#'
			identifier: staticMethod.resultUnused
			count: 1
			path: src/Module/Profile/Photos.php

		-
			message: '#^While loop condition is always true\.$#'
			identifier: while.alwaysTrue
			count: 1
			path: src/Protocol/ActivityPub/Firehose.php

		-
			message: '#^Strict comparison using \=\=\= between array\<mixed, mixed\> and false will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Util/JsonLD.php
